<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733052436718-pqcb0dn6o898cv6ko649upkc1g4fitqu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733052436718-pqcb0dn6o898cv6ko649upkc1g4fitqu</string>
	<key>API_KEY</key>
	<string>AIzaSyBC6Oc1mft2tO_JzjL5TQGucJAemJm3KUk</string>
	<key>GCM_SENDER_ID</key>
	<string>733052436718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.homeU</string>
	<key>PROJECT_ID</key>
	<string>ever-home-dce4d</string>
	<key>STORAGE_BUCKET</key>
	<string>ever-home-dce4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733052436718:ios:3b7d1da19da6a8a03033ff</string>
</dict>
</plist>